@model IEnumerable<ClassLibrary1.Contact>

@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsertDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactType.Caption)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsertDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactType.Caption)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ContactID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ContactID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ContactID })
        </td>
    </tr>
}

</table>
